<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Medmate"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".newpassword1"
            android:exported="false" />
        <activity
            android:name=".Forgotpassword1"
            android:exported="false" />
        <activity
            android:name=".drForgotpassword"
            android:exported="false" />
        <activity
            android:name=".Selectdoctors"
            android:exported="false" />
        <activity
            android:name=".newpassword"
            android:exported="false" />
        <activity
            android:name=".Forgotpassword"
            android:exported="false" />
        <activity
            android:name=".orgotpassword"
            android:exported="false" />
        <activity
            android:name=".Health"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".userprecriptionfullactivity"
            android:exported="false" />
        <activity
            android:name=".userprescription_activitylist"
            android:exported="false" />
        <activity
            android:name=".gpay_listfullactivity"
            android:exported="false" />
        <activity
            android:name=".approvedbooking_fullactivity"
            android:exported="false" />
        <activity
            android:name=".healthcare_fullactivity"
            android:exported="false" />
        <activity
            android:name=".healthcareactivity"
            android:exported="false" />
        <activity
            android:name=".healthcaretips_activity"
            android:exported="false" />
        <activity
            android:name=".userdoctor_activitylist"
            android:exported="false" />
        <activity
            android:name=".usedoctor_listactivity"
            android:exported="false" />
        <activity
            android:name=".gpay_listactivity"
            android:exported="false" />
        <activity
            android:name=".gpay_list"
            android:exported="false" />
        <activity
            android:name=".Gpayactivity2"
            android:exported="false" />
        <activity
            android:name=".response_fullactivity"
            android:exported="false" />
        <activity
            android:name=".dr_responseactivitys"
            android:exported="false" />
        <activity
            android:name=".responseactivity"
            android:exported="false" />
        <activity
            android:name=".bookingviewfullactivity"
            android:exported="false" />
        <activity
            android:name=".bookingviewactivity"
            android:exported="false" />
        <activity
            android:name=".doctorbooking"
            android:exported="false" />
        <activity
            android:name=".doctorfullactivity"
            android:exported="false" />
        <activity
            android:name=".doctorlistactivity"
            android:exported="false" />
        <activity
            android:name=".Doctor_Profile"
            android:exported="false" />
        <activity
            android:name=".Doctor_Home"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Medmate.NoActionBar" />
        <activity
            android:name=".chosseuser"
            android:exported="false" />
        <activity
            android:name=".Doctor_login"
            android:exported="false" />
        <activity
            android:name=".Doctor_registerpage"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>